<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="mb-2">
                <span>Start Date: <input class="text-center" type="date" [(ngModel)]="startDate"></span> |
                <span>End Date: <input class="text-center" type="date" [(ngModel)]="endDate"></span>
            </div>
            <p>Total Orders: {{ totalOrders }} - {{ totalPriceCompleted }} / {{ totalPrice }}</p>
            <button class="btn btn-primary" (click)="submitDates()">Submit</button>
            <div style="width: 600px; height: 600px;">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>